<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<div class="row" id="header">
	        <h1>TwitterViz</h1>
		<h3 class="subheader">Unrest in Crimea</h3>
	</div>
	
	<div class="row " id="timeline">
		<h3 id="current-time-range">Currently displaying data from {{ timeRange }}</h3>
		<ul class="button-group round">
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/1" class="button">2/19 ------ 2/25</a></li>
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/2" class="button">2/26 ------ 3/4</a></li>
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/3" class="button">3/5 ------ 3/11</a></li>
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/4" class="button">3/12 ------ 3/18</a></li>
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/5" class="button">3/19 ------ 3/25</a></li>
			<li class="small-1 columns"><a href="{{ instance }}/timeRange/6" class="button">3/26 ------ 4/1</a></li>
			<li class="small-1 end columns"><a href="{{ instance }}/timeRange/7" class="button">4/2 ------ 4/9</a></li>
		</ul>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>Tweet Locations</h3>
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-3 columns" id="top-hashtags">
			<h3>Top Hashtags</h3>
			<ol class="data-display">
    			{% for hashtag in topHashtags %}
        			<li>{{ hashtag }}</li>
    			{% endfor %}
    			</ol>
		</div>
		<div class="small-12 large-3 columns" id="top-keywords">
			<h3>Top Keywords</h3>
			<ol class="data-display">
    			{% for keyword in topKeywords %}
        			<li>{{ keyword }}</li>
    			{% endfor %}
    			</ol>

		</div>
		<div class="small-12 large-6 columns" id="top-links">
			<h3>Top Links</h3>			
			<ol class="data-display">
    			{% for link in topLinks %}
        			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
    			{% endfor %}
    			</ol>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
	<script>
		$(document).foundation();
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUIo23g_kpQeVM997Q4UVSukot_9NK9qo"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/markerClusterer.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

    </body>
</html>

